body {
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: #FAF9F9;
}

[v-cloak] {display: none}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-name {
    margin-top: 50px;
    margin-bottom: 10px;
}

.form-description {
    margin-bottom: 25px;
}

.form-license {
    margin-bottom: 65px;
}

.modal textarea {
    resize: none;
    /*height: 250px; width: 100%;*/
}

.qrcode {
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

.precommitDisplay {
    display: none;
}

.option-row {
    padding: 5px 0px;
}

.option-row .option-text {
    width: 100%;
}

.option-row .option-radio {
    float: right;
}

.btn-push {
    margin-bottom: 15px;
}

.img-view {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px 0
}

.img-view img {
    width: 640px;
    height: 480px;
    margin: auto;
    display: block;
}

.listLabel {
    display: none;
}

.form-commit {
    margin-bottom: 40px;
}

.form-repo {
    margin-bottom: 60px;
}

.form-note {
    margin-bottom: 40px;
}

.btn-save {
    margin-left: 10px;
}

.frame {
    width: 100%;
    height: 160px;
    padding: 0;
}

.frame .slidee {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.frame .slidee li {
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    height: 100%;
}

.frame .slidee li input[type="checkbox"][id^="pr"] {
    display: none;
}

/*.img-label:before {
    background-color: white;
    color: white;
    content: "✓";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}*/

.img-label {
    height: 93%;
    border: 1px solid #fff;
    display: block;
    position: relative;
    cursor: pointer;
}

.img-label img {
    height: 100%;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

/*:checked+.img-label:before {
    content: "✓";
    background-color: #428BCA;
    transform: scale(1);
}*/

:checked+.img-label {
    border-color: #ddd;
}

:checked+.img-label img {
    transform: scale(0.76);
    box-shadow: 0 0 0 #333;
    z-index: -1;
}

.scrollbar {
    width: 100%;
    height: 8px;
    margin-top: 5px;
    margin-bottom: 7px
}

.scrollbar .handle {
    width: 100px;
    /* overriden if dynamicHandle: 1 */
    height: 100%;
    background: #555;
}


.project-item, .commit-item {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 0.8px solid #C2C2C2;
}

.project-img {
    height: 80%;
}
