<!doctype html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="container">
            <div class="col-md-3">

            </div>
            <div class="col-md-9" id="commit-list">
                <a v-if="appendUrl" :href="appendUrl" class="btn btn-success">Append Commits</a>
                <ul class="list-unstyled">
                    <li class="row commit-item" v-for="item in items">
                        <div class="col-md-8">
                            <div v-for="url in item.imageUrls">
                                <img width="100%" :src="url">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>{{item.message}}</h4>
                            <p>{{item.note}}</p>
                        </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>

    <script type="text/javascript">
        var commitList = new Vue({
            el: '#commit-list',
            data: {
                items: <%- itemsStr %>,
                appendUrl: "<%- appendUrl %>"
            }
        });
    </script>

</body>

</html>
