<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <script type="text/javascript" src="/client/js/socket.io.js"></script>
    <script type="text/javascript" src="/client/js/qrcode.min.js"></script>
    <script type="text/javascript" src="/client/js/sly.min.js"></script>
    <script type="text/javascript" src="/client/js/jquery.areaSelect.js"></script>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <button class="btn btn-default" onclick="preCommitBtnClick(this);">Start Pre-Commit</button>
        <div class="well">
            <p>Token: <span class="token"></span><canvas id="canvas"></canvas></p>
            <p>Status: <span class="status"></span></p>
        </div>
        <div class="row"></div>
        <div class="img-view"><img width=800 height=600 class="editor"/></div>
        <div class="frame">
            <ul class="slidee">
            </ul>
        </div>
        <div class="scrollbar">
            <div class="handle"></div>
        </div>

    </main>

    <footer>
        <% include partials/footer %>
    </footer>

    <script type="text/javascript">
        var tag_editor_options = {
            initAreas: [{"width": 800, "height": 600}],
            deleteMethod: 'click',
            area: {strokeStyle: 'Aqua', lineWidth: 1.5},
            point: {size: 3, fillStyle: 'black'},
        };

        $('.editor').areaSelect(tag_editor_options);

        $('.editor').areaSelect('bindChangeEvent', function (event, data){
            console.log(data.areas);
        });

        var frame_options = {
            horizontal: 1,
            itemNav: 'centered',
            speed: 300,
            smart: 1,
            mouseDragging: 1,
            touchDragging: 1,
            releaseSwing: 1,
            activateOn: 'click',
            activateMiddle: 1,
            scrollBar: '.scrollbar',
            dragHandle: 1,
            dynamicHandle: 1,
            minHandleSize: 70,
            scrollBy: 10,
            clickBar: 1,
            elasticBounds: 1
        };

        var frame = new Sly('.frame', frame_options)

        frame.on('active', function(e,i) {
            // Show clicked activated image into preview editor
            var activeEl = $('#item-' + i);
            $(".editor")
                .attr('src', activeEl.attr('src') )
                .attr('path', activeEl.attr('path') );
        });

        frame.init();

        $(window).resize(function(e) {
            $('.frame').sly('reload');
        });

        function preCommitBtnClick(o){
            $(o).prop("disabled", true);

            socketInstance = io.connect();
            socketInstance.on('connect', function(msg){
                console.log("Browser Connected.");
            });
            socketInstance.on('pass_token', function(data){
                $(".well span.token").text(data.token);
                qrcodelib.toCanvas(document.getElementById('canvas'), data.token, function (error) {
                    if (error) console.error(error)
                    console.log('success!');
                  });
            });
            socketInstance.on('pass_compressed_image', function(data){
                var image = '<li>' + '<img id="item-' + frame.items.length + '" height="100%" src="data:' + data.type + ';base64,' + data.base64 + '" path="' + data.filepath + '"/>' + '</li>';
                frame.add(image);
                frame.activate(frame.items.length - 1);
            });
        }

    </script>
</body>
</html>
