<!doctype html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="container">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <ul class="list-unstyled" id="project-list" v-cloak>
                    <li class="row project-item" v-for="item in items">
                        <div class="col-md-6 project-name">
                            <h3>
                                <a :href="'/project/' + item.id + '/commits'"> {{item.name}} </a>
                            </h3>
                            <p>
                                {{item.description}}
                            </p>
                            <h4> License: {{item.License}}</h4>
                        </div>
                        <div class="col-md-4 project-img">
                            <a href="#">
                                <img class="project-img" src="" />
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a v-if="item.appendUrl" :href="item.appendUrl" class="btn btn-success">Append Commits</a>
                        </div>
                    </li>
                    <div v-if="hasNext">
                        <button type="button" class="btn btn-primary" @click="fetchNews(fetchIndex,itemsPerPage)">Show next {{itemsPerPage}} items</button>
                    </div>
                </ul>
            </div>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>

    <script type="text/javascript">
        var projectList = new Vue({
            el: '#project-list',
            data: {
                items: [],
                hasNext: false,
                itemsPerPage: 10,
                fetchIndex: 0
            },
            mounted: function() {
                var self = this;
                self.fetchNews(self.fetchIndex, self.itemsPerPage);
            },
            methods: {
                fetchNews: function(index, length) {
                    var self = this;
                    $.ajax({
                        url: '<%= getUrl %>?idx=' + index + '&len=' + length,
                        method: 'GET',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function(data) {
                            if (data.items) {
                                data.items.forEach(function(item) {
                                    self.items.push(item);
                                });
                                self.hasNext = data.items.length >= length;
                                self.fetchIndex = index + length;
                            } else {
                                self.hasNext = false;
                            }
                        },
                        error: function(error) {
                            console.log(JSON.stringify(error));
                        }
                    });
                }
            }
        });
    </script>

</body>

</html>
