
<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body class="container">

	<form method="post" class="validate" enctype="application/json">
		<!-- <input type="hidden" id="questionID" name="questionID" value="" />
        <input type="hidden" id="tranRemoveOptions" name="removeOptions" value="" />
        <textarea name="strText" class="form-control" rows="10" id="strText" aria-required="true"></textarea> -->
	    
	    <input type="text" name="message" value="" />

	    <button type="submit" class="btn btn-primary">儲存</button>
	</form>
</body>
</html>
